<a href="https://colab.research.google.com/github/Yash1289/CoronaVirus_Tweet_Sentiment/blob/main/Coronavirus_Tweet_Sentiment_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sentiment Analysis : Predicting sentiment of COVID-19 tweets</u></b>

## <b> Problem Description </b>

### This challenge asks you to build a classification model to predict the sentiment of COVID-19 tweets.The tweets have been pulled from Twitter and manual tagging has been done then.

### The names and usernames have been given codes to avoid any privacy concerns.

### You are given the following information:
1. Location
2. Tweet At
3. Original Tweet
4. Label

In [1]:
import numpy as np
import pandas as pd

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
path = "/content/drive/MyDrive/Coronavirus Tweets.csv"
corona_df = pd.read_csv(path , engine = "python")

In [43]:
corona_df

       UserName  ...           Sentiment
0          3799  ...             Neutral
1          3800  ...            Positive
2          3801  ...            Positive
3          3802  ...            Positive
4          3803  ...  Extremely Negative
...         ...  ...                 ...
41152     44951  ...             Neutral
41153     44952  ...  Extremely Negative
41154     44953  ...            Positive
41155     44954  ...             Neutral
41156     44955  ...            Negative

[41157 rows x 6 columns]

In [44]:
corona_df[corona_df["Location"] == "london"]

       UserName  ...           Sentiment
623        4422  ...  Extremely Negative
5224       9023  ...            Negative
8511      12310  ...            Negative
9141      12940  ...             Neutral
11880     15679  ...            Positive
11881     15680  ...            Negative
11986     15785  ...            Positive
19854     23653  ...  Extremely Negative
28441     32240  ...  Extremely Positive
29189     32988  ...            Positive
29737     33536  ...             Neutral
33550     37349  ...            Negative

[12 rows x 6 columns]

In [47]:
corona_df["Location"] = corona_df["Location"].str.capitalize()
corona_df["Location"] = corona_df["Location"].str.strip()

In [48]:
corona_df[corona_df["Location"] == "london"]

Empty DataFrame
Columns: [UserName, ScreenName, Location, TweetAt, OriginalTweet, Sentiment]
Index: []

In [49]:
import re

In [50]:
def cityFinder(location):
  if isinstance(location, str):
    cityAndOthers = re.split(r"-|,|/", location)
    return cityAndOthers[0]
  else:
    return location

In [51]:
corona_df["Location"] = corona_df["Location"].apply(cityFinder)

In [52]:
corona_df[corona_df["Location"] == "London, England"]

Empty DataFrame
Columns: [UserName, ScreenName, Location, TweetAt, OriginalTweet, Sentiment]
Index: []

In [63]:
values1 = pd.DataFrame(corona_df["Location"].value_counts())

In [64]:
modified_values1 = values1.reset_index().rename(columns = { "index" : "location" , "Location" : "value"})

In [65]:
modified_values1[modified_values1["location"] == "London "]

Empty DataFrame
Columns: [location, value]
Index: []

In [62]:
corona_df["Location"] = corona_df["Location"].str.strip()

In [66]:
modified_values1

                            location  value
0                             London   1313
1                           New york    727
2                      United states    535
3                         Washington    509
4                        Los angeles    440
...                              ...    ...
8617  New zealand (most of the time)      1
8618               Sydney australia.      1
8619         Uk citizen of the world      1
8620                  Bradwell abbey      1
8621                        Sheoganj      1

[8622 rows x 2 columns]

In [67]:
corona_df["Sentiment"].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [68]:
neutral_tweets = corona_df[corona_df["Sentiment"] == "Neutral"].index
corona_df.drop(neutral_tweets , inplace = True)

In [69]:
def Sentiment_Grouping(sentiment):
  if sentiment == "Extremely Positive":
    return "Positive"
  elif sentiment == "Extremely Negative":
    return "Negative"
  else:
    return sentiment

In [70]:
corona_df["Sentiment"] = corona_df["Sentiment"].apply(Sentiment_Grouping)

In [71]:
corona_df["Sentiment"].value_counts()

Positive    18046
Negative    15398
Name: Sentiment, dtype: int64

In [72]:
sentiment_grouping = corona_df.groupby(["Location" , "Sentiment"]).agg({ "OriginalTweet" : "count"}).reset_index()
sentiment_pivot = sentiment_grouping.pivot(index = "Location" , columns="Sentiment" , values="OriginalTweet")
sentiment_pivot

Sentiment                                           Negative  Positive
Location
                                                         2.0       2.0
"..i had to find the passage back to the place ...       NaN       1.0
"deviantart"                                             1.0       NaN
#accessibility #justice #hugs #hope                      NaN       1.0
#africa                                                  3.0       NaN
...                                                      ...       ...
Üt: 51.4761159                                           NaN       1.0
Üt: 51.560275                                            NaN       1.0
Üt: 51.56353                                             2.0       NaN
Üt: 54.975455                                            NaN       1.0
Üt: 59.19408                                             1.0       NaN

[7455 rows x 2 columns]

In [73]:
sentiment_pivot = sentiment_pivot.apply(lambda x: round(x*100/sum(x),2) if sum(x) > 10 else (x/x)*50, axis=1)
sentiment_pivot

Sentiment                                           Negative  Positive
Location
                                                        50.0      50.0
"..i had to find the passage back to the place ...       NaN      50.0
"deviantart"                                            50.0       NaN
#accessibility #justice #hugs #hope                      NaN      50.0
#africa                                                 50.0       NaN
...                                                      ...       ...
Üt: 51.4761159                                           NaN      50.0
Üt: 51.560275                                            NaN      50.0
Üt: 51.56353                                            50.0       NaN
Üt: 54.975455                                            NaN      50.0
Üt: 59.19408                                            50.0       NaN

[7455 rows x 2 columns]

In [90]:
sentiment_pivot.fillna(50.0 , inplace = True)

In [91]:
sentiment_pivot

Sentiment                                           Negative  Positive
Location
                                                        50.0      50.0
"..i had to find the passage back to the place ...      50.0      50.0
"deviantart"                                            50.0      50.0
#accessibility #justice #hugs #hope                     50.0      50.0
#africa                                                 50.0      50.0
...                                                      ...       ...
Üt: 51.4761159                                          50.0      50.0
Üt: 51.560275                                           50.0      50.0
Üt: 51.56353                                            50.0      50.0
Üt: 54.975455                                           50.0      50.0
Üt: 59.19408                                            50.0      50.0

[7455 rows x 2 columns]

In [78]:
sentiment_pivot.columns

Index(['Negative', 'Positive'], dtype='object', name='Sentiment')

In [92]:
sentimentBackup = sentiment_pivot.copy()

In [80]:
def Location_Cat(positivePercent):
  if positivePercent <= 55.0 and positivePercent >=45.0 :
    return 0
  elif positivePercent <= 70.0 and positivePercent >55.0 :
    return 1
  elif positivePercent <= 100.0 and positivePercent > 70 :
    return 2
  elif positivePercent < 45.0 and positivePercent >= 30 :
    return -1
  elif positivePercent < 30.0 and positivePercent >= 0 :
    return -2

In [97]:
sentimentBackup = sentimentBackup.reset_index().rename_axis(None, axis=1)

In [98]:
sentimentBackup["LocationCat"] = sentimentBackup["Positive"].apply(Location_Cat)

In [99]:
sentimentBackup

                                               Location  ...  LocationCat
0                                                        ...            0
1     "..i had to find the passage back to the place...  ...            0
2                                          "deviantart"  ...            0
3                   #accessibility #justice #hugs #hope  ...            0
4                                               #africa  ...            0
...                                                 ...  ...          ...
7450                                     Üt: 51.4761159  ...            0
7451                                      Üt: 51.560275  ...            0
7452                                       Üt: 51.56353  ...            0
7453                                      Üt: 54.975455  ...            0
7454                                       Üt: 59.19408  ...            0

[7455 rows x 4 columns]

In [77]:
corona_df.columns

Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

In [101]:
sentimentBackup.shape

(7455, 4)

In [103]:
corona_df.shape

(33444, 6)

In [104]:
corona_new_df = pd.merge(corona_df , sentimentBackup , how = "left" , on = "Location")

In [106]:
corona_new_df["Location"].fillna("Unknown" , inplace = True)
corona_new_df["LocationCat"].fillna(0 , inplace = True)

In [108]:
corona_new_df.drop(columns = ["Negative" , "Positive"] , axis = 1 , inplace = True)

In [109]:
corona_new_df

       UserName  ScreenName  ... Sentiment LocationCat
0          3800       48752  ...  Positive         0.0
1          3801       48753  ...  Positive         0.0
2          3802       48754  ...  Positive         0.0
3          3803       48755  ...  Negative         0.0
4          3804       48756  ...  Positive         0.0
...         ...         ...  ...       ...         ...
33439     44949       89901  ...  Positive         1.0
33440     44950       89902  ...  Positive         0.0
33441     44952       89904  ...  Negative         0.0
33442     44953       89905  ...  Positive         0.0
33443     44955       89907  ...  Negative         0.0

[33444 rows x 7 columns]

In [111]:
pd.DataFrame(corona_new_df.dtypes).rename(columns = {0:'dtype'})

                 dtype
UserName         int64
ScreenName       int64
Location        object
TweetAt         object
OriginalTweet   object
Sentiment       object
LocationCat    float64

In [112]:
corona_new_df["TweetAt"] = pd.to_datetime(corona_new_df["TweetAt"])

In [115]:
corona_new_df["Month"] = corona_new_df["TweetAt"].apply(lambda x : x.month)
corona_new_df["Year"] = corona_new_df["TweetAt"].apply(lambda x : x.year)

In [116]:
corona_new_df

       UserName  ScreenName                  Location  ... LocationCat Month  Year
0          3800       48752                        Uk  ...         0.0     3  2020
1          3801       48753                 Vagabonds  ...         0.0     3  2020
2          3802       48754                   Unknown  ...         0.0     3  2020
3          3803       48755                   Unknown  ...         0.0     3  2020
4          3804       48756             Üt: 36.319708  ...         0.0     3  2020
...         ...         ...                       ...  ...         ...   ...   ...
33439     44949       89901                      Ohio  ...         1.0     4  2020
33440     44950       89902                   Unknown  ...         0.0     4  2020
33441     44952       89904                   Unknown  ...         0.0     4  2020
33442     44953       89905                   Unknown  ...         0.0     4  2020
33443     44955       89907  I love you so much || he  ...         0.0     4  2020

[33444 rows x 9 columns]

##**EDA Section**

In [117]:
corona_eda_df = corona_new_df.copy()

In [120]:
#Importing the seaborn and matplotlib library for our data visualization tasks
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
#Setting different parameters of matplotlib and seaborn for better visualization 
plt.rcParams['figure.figsize'] = 10,7
sns.set_context('paper', font_scale=1.4)
sns.set_theme(style='darkgrid')

In [ ]:
sns.barplot